div[id="box"] {
   display:flex;
}

h3 {
   font-family: Arial;
}

div[class="card"] {
   width: 50vw;
   height:91vh;
   align-items: center;
   border:none;
   border-radius:0px;
}

div[class="card-box"] {
   width: 49vw;
   height: 80vh;
   border: none;
   border-radius:0px;
}
       
button[type="submit"] {
   border:none;
   width:50%;
}

button[type="submit"]:hover {
   background-color: #00a000;
   transition: 1s;
}
